extends ../layout

block content
  main.articles-category
    h1 #{category.name}
    section.articles-category__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each categoryForList in categories
          if category.id === categoryForList.id
            li.themes__item
              a.themes__item-link.themes__item-link--active(href=`/articles/category/${categoryForList.id}`)
                | #{categoryForList.name}
                sup #{categoryForList.count}
          else
            li.themes__item
              a.themes__item-link(href=`/articles/category/${categoryForList.id}`)
                | #{categoryForList.name}
                sup #{categoryForList.count}
    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        each article in articles
          if article.picture !== null
            li.preview__item
              ul.preview__breadcrumbs
                each category in article.categories
                  li.preview__breadcrumbs-item
                    a.preview__breadcrumbs-link(href=`/articles/category/${category.id}`) #{category.name}
              if !!(article.picture)
                .preview__background
                  img.preview__background-image(src=`/img/${article.picture}`, width='460' height='240', alt=article.title)
              time.preview__time(datetime=article.createdAt) #{formatDate(article.createdAt)}
              h3.preview__name
                a.preview__name-link(href=`/articles/${article.id}`) #{article.title}
              p.preview__text #{article.announce}
              a.preview__comment(href=`/articles/${article.id}`)
                | Комментарии
                span.preview__cloud
                 |
                b.preview__comment-count #{article.comments.length}
          else
            li.preview__item.preview__item--noimage
              ul.preview__breadcrumbs
                each category in article.categories
                  li.preview__breadcrumbs-item
                    a.preview__breadcrumbs-link(href=`/articles/category/${category.id}`) #{category.name}
              time.preview__time(datetime=article.createdAt) #{formatDate(article.createdAt)}
              h3.preview__name
                a.preview__name-link(href=`/articles/${article.id}`) #{article.title}
              p.preview__text #{article.announce}
              a.preview__comment(href=`/articles/${article.id}`)
                | Комментарии
                span.preview__cloud
                |
                b.preview__comment-count #{article.comments.length}
  +pagination(page, totalPages, 2, `?`)
