extends ../layout

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href="javascript:history.back()") Назад
            time.post__date(datetime=`${formatDate(article.createdAt)}`) #{formatDate(article.createdAt)}
            h2.post__title.title.title--main #{article.title}
            ul.post__themes.themes
              each category in article.categories
                li.themes__item
                  a.themes__item-link(href=`/articles/category/${category.id}`)
                    | #{category.name}
                    sup #{category.count}
                  button.themes__remove-btn(type='button') Удалить категорию
          if article.picture
            .post__picture
              img(src=`/img/${article.picture}`, alt='пейзаж море, скалы, пляж')
          .post__text
            p #{article.announce}
            p #{article.fullText}
      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          if article.comments.length > 0
            h2.comments__title.title.title--middle Комментарии
            ul.comments__list
              each comment in article.comments.sort((a, b)=>new Date(b.createdAt) - new Date(a.createdAt))
                li.comments__comment
                  .comments__avatar.avatar
                    if comment.users.avatar
                      img(src=`/img/${comment.users.avatar}`, alt='аватар пользователя')
                  .comments__text
                    .comments__head
                      p #{comment.users.name} •
                      time.comments__date(datetime='2019-03-21T20:33') #{dayjs(comment.createdAt).format(`DD.MM.YYYY, hh:mm`)}
                    p.comments__message #{comment.text}
          else
            h2.comments__title.title.title--middle Комментарии отсутствуют
          if user
            .comments__footer.comments__footer--user
              form(action=`/articles/${article.id}/comments`, method='POST')
                input(type="hidden" name="_csrf" value=csrfToken)
                if user.avatar
                  .comments__avatar.avatar
                    img(src=`/img/${user.avatar}`, alt='аватар пользователя')
                label
                  textarea(rows='1', placeholder='Присоединиться к обсуждению' , name='text' )
                button.comments__button.button.button--colored(type='submit') Опубликовать
                +errorMessage(currentError)
          else
            .comments__footer.comments__footer--visitor
              a.comments__button.button.button--colored(href='/login') Войти
              .comments__registration
                p.text.text--signature
                  p.title.title--small Регистрация
                  | Чтобы присоединиться к переписке нужно зарегистрироваться

