doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  meta(name='Description', content='Личный блог Типотека')
  title Типотека
  link(rel='preload', href='/fonts/Inter-Regular.woff2', as='font', crossorigin='anonymous')
  link(rel='preload', href='/fonts/Inter-Medium.woff2', as='font', crossorigin='anonymous')
  link(rel='preload', href='/fonts/SFProDisplay-Regular.woff2', as='font', crossorigin='anonymous')
  link(rel='stylesheet', href='/css/style.min.css')
  style.
    a.active {
      pointer-events: none;
    }
    .server-error{
      border-radius: 10px;
      color: white;
      background-color: tomato;
      margin: 20px 0;
      padding: 10px;
    }
    .form-error-message-categories{
      padding:0;
      margin-top:-15px;
      margin-left:35px;
      font-weight:700;
      color:#eb5757
    }


body
  mixin errorMessage(error)
    if error
      each message in error
        .server-error= message

  mixin errorMessageForm(currentError)
    if currentError
      p.form__error-message=currentError

  mixin errorMessageCategories(error)
    p.form-error-message-categories=error

  mixin errorList(messages)
    if messages.length
      div.form__validation-error
        p.form__error-message При регистрации произошли ошибки:
        ul.form__errors
          each message in messages
            li.form__error=message

  mixin pagination(page, totalPages, width, prefix)
    -
      let start = page - width;
      let end = page + width;

      if(start < 1){
      end += 1 - start;
      start = 1;
      }
      if(end > totalPages){
      start -= end - totalPages;
      end = totalPages;
      }

      if(start < 1){
      start = 1;
      }
      let i = start - 1

    .preview__toggle-wrapper
      ul.preview__pagination.pagination
        if start > 1
          li
            a.pagination__button.button.button--backwards(href=`${prefix}page=${page - 1}`, aria-label='Страница назад') Назад
        while i++ < end
          if page === i
            li.pagination__item.pagination__item--active
              a()= i
          else
            li.pagination__item
              a(href=`${prefix}page=${i}`)= i
        if end < totalPages
          li
            a.pagination__button.button.button--forward(href=`${prefix}page=${page + 1}`, aria-label='Страница вперед') Вперёд

  -
    const formatDate = (dateString) => {
    return dayjs(dateString).format(`DD.MM.YYYY`);
    }

  .wrapper
    include partials/header.pug
    block content
    include partials/footer.pug
script(src='/js/vendor.js')
script(src='/js/main.js')
